<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="Airpods">
        <img src="{{ url_for('static', filename='img/airpods.jpg') }}" alt="Airpods Pro">
    </div>
    <div class="loginbut">
        משלי גיי
        <button class="make-green"><a href="/login">Login Page</a></button>
    </div>
</body>
</html>
