<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleorder.css') }}">
</head>
<body>
    
</body>
</html>
<div class="acard">
    <img src="{{ url_for('static', filename='img/oneCC.jpeg') }}" alt="A credit card">
</div>
<div class="cc_info">
    <h1>Login</h1>
    <input type="text" id="name" placeholder="Enter your name">
    <div>
        Credit card number here
    </div>
    <input type="text" placeholder="Enter your card number" />
    <label>Expiration date</label>
    <input type="date" />
    <label>CVC</label>
    <input type="number" placeholder="Enter CVC">
    <a href="https://www.youtube.com/watch?v=PXqcHi2fkXI">
        <button>Accept</button>
    </a>


    
</div>
